.lessonCard {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*overflow: hidden;*/
    /*width: 100%;*/
    @apply max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl;
}

.cardImage {
    position: relative;
    @apply md:shrink-0;
}

.cardImage img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @apply h-48 w-full object-cover md:h-full md:w-48;
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:z-10 hover:shadow-2xl hover:scale-110 hover:opacity-80 hover:cursor-pointer;
}

.duration {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.cardContent {
    padding: 10px;
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;

}

.views {
    margin-right: 10px;
    color: #777;
}

.createdOn {
    color: #777;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.authorName {
    font-size: 14px;
    font-weight: bold;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.modalContent {
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply text-base font-medium text-gray-900 sm:text-xl bg-blue-50;
}

.modalContent iframe {
    width: 100%;
    height: 100%;
}

.modalContent button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    background-color: red;
    border: none;
    cursor: pointer;
    z-index: 11;

}

.lessonCard {
    @apply max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl cursor-pointer;
}